src/main/mule/db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="dbFlow" doc:id="65a97477-d567-44b1-b671-7ee7ec40f40b" >
		<db:insert doc:name="Insert" doc:id="86379e34-4134-430b-845a-eceb58b0e708" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into [dbo].[equity]
([index], symbol, operation, quantity, price)
values
(
	:index,
	:symbol,
	:operation,
	:quantity,
	:price
)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	index: "NASDAQ",
	symbol: "UDSINR",
	operation:"Sell",
	quantity:50,
	price:76
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="b0b99d78-e419-4ebc-bbc6-3a19ebf4d2a3" />
	</flow>
</mule>
